<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<center>
<p>Smooth Cloude Developers</p>

<p>We ARE WEB BASE SYSTEM DEVELOPERS</p>

<p>We are using Ruby on Rails programming language</P>
</center>

