<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>
<center>

	<table border="0">
<tr>
	<td>Company Name: Smooth cloude developers</td>
</tr>

<tr>
	<td>Contact Person: Reiner C. Lim</td>
</tr>

<tr>
	<td>Position:Ruby on Rails Programmer</td>
</tr>

<tr>
	<td>Contact No. 09267879624</td>
</tr>

<tr>
	<td>Email Address: smoothcloude.net</td>
</tr>

</center>
</table>